:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin-right: 5px;
  margin-left: 5px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  place-items: center;
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sampleBlockContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top:60px;
}

.sample-block{
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
}

.sample-block button{
  width: 60px;
  margin-right: 5px;
  margin-top: 10px;
  background: #303030;
  border-color: #bbbbbb33;
}

.waveform:hover{
  cursor: pointer;
}

.search-form input{
  min-width: 250px;
  margin-right:5px;
  font-size: 16px;
}

.search-form{
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  z-index: 99;
  width: 100%;
}

.kyles-loader,
.kyles-spinner {
    font-size: 80px;
    color: #baf71e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kyles-spinner {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}



@media (max-width: 650px){
  .sample-block{
    width: 100%;
  }
}

@media (max-width: 380px){
  .search-form input{
    min-width: 180px;
  }
}

